* {
    font-family: 'Lato', sans-serif;
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    color: #ece8ea;
}

.gb-dark-color {
    color: #050505;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}

/* NAVBAR */

#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: #7a7a7a;
    transition: 0.3s;
}

#navbar a.active {
    border-bottom: 1px solid #050505;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 40px;
}

.navbar-brand span {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1rem;
}